USE [master]
GO
/****** Object:  Database [CSharpProject]    Script Date: 03/27/2018 20:26:51 ******/
CREATE DATABASE [CSharpProject] ON  PRIMARY 
( NAME = N'CSharpProject', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\CSharpProject.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CSharpProject_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\CSharpProject_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSharpProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSharpProject]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 03/27/2018 20:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[answerID] [int] IDENTITY(1,1) NOT NULL,
	[answer] [nvarchar](max) NULL,
 CONSTRAINT [Answer_PK] PRIMARY KEY CLUSTERED 
(
	[answerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 03/27/2018 20:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [Admin_PK] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 03/27/2018 20:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [User_PK] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Test]    Script Date: 03/27/2018 20:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Test](
	[testID] [int] IDENTITY(1,1) NOT NULL,
	[testCode] [varchar](100) NOT NULL,
	[numberOfQuestion] [int] NOT NULL,
 CONSTRAINT [Test_PK] PRIMARY KEY CLUSTERED 
(
	[testID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[testCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Question]    Script Date: 03/27/2018 20:26:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[questionID] [int] IDENTITY(1,1) NOT NULL,
	[question] [nvarchar](max) NOT NULL,
	[numberOfAnswer] [int] NOT NULL,
	[answerID] [int] NOT NULL,
 CONSTRAINT [Question_PK] PRIMARY KEY CLUSTERED 
(
	[questionID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Default [DF__Admin__status__07020F21]    Script Date: 03/27/2018 20:26:52 ******/
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((1)) FOR [status]
GO
/****** Object:  Default [DF__User__status__023D5A04]    Script Date: 03/27/2018 20:26:52 ******/
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [status]
GO
/****** Object:  ForeignKey [Question_FK]    Script Date: 03/27/2018 20:26:52 ******/
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [Question_FK] FOREIGN KEY([answerID])
REFERENCES [dbo].[Answer] ([answerID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [Question_FK]
GO
